@import '@fontsource/fira-mono';

:root {
	--font-mono: "Source Code Pro", "monospace";
	--color-bg: rgb(33, 39, 55);
	--color-accent: rgb(255, 107, 1);
	--color-text: rgb(234, 237, 243);
	font-family: var(--font-mono);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

h1,
h2 {
	color: var(--color-accent);
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.markdown {
	/* complete if needed */
}